<body class="home_back">
  <h1 class="home_title">
    <center>自己管理サイト</center>
  </h1>
  <footer>
    <span class="home_tag">
          <!--目標設定-->
    <%= link_to("Setting of Goal","/setting/top", :style =>" text-decoration:none; color: #ffffff") %>&emsp;
      <!--目標管理-->
    <%= link_to("Goal List","/list/top", :style =>" text-decoration:none; color: #ffffff") %>
  </footer>
</body>
