<body class="back">
  <div class="font">
    <p>Setting(DAY)</p>
    <div class="goal">
      <nobr>GOAL ～～～目標～～～</nobr>
    </div>
    <!--現在の日時から目標の週まで日程一覧表示-->
    <%= link_to("Setting Complete!!","/", :style =>" text-decoration:none; color: #ffffff") %>
  </div>
</body>
