<body class="back">
  <div class="font">
    <!--短期-->
    <h1>Goal setting</h1>
    <nobr>Goal</nobr>&emsp;
    <input type="text" name="music" size="30" style="font-size:50px">
    <p>period</p>
    <!--<input type="submit" value="NEXT" style="font-size:50px">-->
    <%= link_to("NEXT","/setting/day", :style =>" text-decoration:none; color: #ffffff") %>

  </div>
</body>
