<body class="back">
  <div class="font">
    <h1>Setting</h1>
    <!--長期スパン-->
    <p>Long term</p>
    <!--中期スパン-->
    <p>Medium term</p>
    <!--短期スパン-->
    <%= link_to("Short term","/setting/set", :style =>" text-decoration:none; color: #ffffff") %>

  </div>
</body>
