<h1>テスト</h1>
  <div class="font">
    <p>目標計画</p>
  <% @goal_days.each do |goal| %>
    <% goal.days.each do |a,b| %>
    <li>
        &emsp;&emsp;<%= a%>
      <%= b%>
    </li>
<% end%>
  <p><%= goal.goals %></p>
  <%end%>
</div>
