// Place all the styles related to the setting controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brack{
  font-size: 50px;
  font-family: 'Impact',sans-serif;
color: #000000;
}
.back{
  background-image: image-url("cafe_back.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.button_setting{
  border-radius:10px;
  font-size: 40px;
  background-color: #ffffff;
}
